
	<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <div class="p-3 mb-2 bg-primary text-white">
<h1 >Welcome to Online Learning App </h1>
</div>
<div class=" p-2 mb-2 bg-secondary text-danger bg-warning ">
<h4>Available Courses </h4>
</div>
<div>
<div class="list-group" >
 
  <a href="https://www.w3schools.com/java/default.asp" class="list-group-item list-group-item-action text-primary bg-dark" >JAVA</a>
  <a href="https://www.w3schools.com/python/default.asp" class="list-group-item list-group-item-action text-primary bg-dark">PYTHON</a>
  <a href="https://www.w3schools.com/c/index.php" class="list-group-item list-group-item-action text-primary bg-dark">C-Programming</a>
  <a href="https://www.w3schools.com/cpp/default.asp" class="list-group-item list-group-item-action text-primary bg-dark">C++</a>
  <a href="https://www.w3schools.com/html/default.asp" class="list-group-item list-group-item-action text-primary bg-dark">HTML</a>
  <a href="https://www.w3schools.com/php/default.asp" class="list-group-item list-group-item-action text-primary bg-dark">PHP</a>
  <a href="https://www.w3schools.com/css/default.asp" class="list-group-item list-group-item-action text-primary bg-dark">CSS</a>
  <a href="https://www.w3schools.com/js/default.asp" class="list-group-item list-group-item-action text-primary bg-dark">JAVASCRIPT</a>
  <a href="https://www.w3schools.com/sql/default.asp" class="list-group-item list-group-item-action text-primary bg-dark">SQL</a>
    
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
	
	<!--   <h1>User After Login: Home Page</h1>
	<a href="/logout">Logout</a>
	<h1>Name : [[${user.fullName}]]</h1>
	<h1>Email : [[${user.email}]]</h1>
	<h1>Qualification : [[${user.qualification}]]</h1> -->
